
body {
background:brown;
}
#mal_cs_pic, #mal_cs_listinfo, #mal_cs_links {
border-right:0 none !important;
}
#mal_cs_listinfo {
background:teal;
}
#mal_cs_listinfo a {
background:yellow !important;
color:yellowGreen !important;
}
#mal_cs_listinfo a strong {
color:red;
background: blue;
}
#mal_cs_links {
background: orange;
}
#mal_cs_links a {
background:yellow !important;
color:red !important;
}
#mal_cs_otherlinks {
background: blue;
}
#mal_cs_otherlinks a {
background:pink !important;
color:blue !important;
}
#mal_cs_otherlinks strong {
background:red !important;
}
#mal_cs_otherlinks strong a {
background:black !important;
color:cyan !important;
}
#mal_cs_powered {
background:cyan !important;
}
#mal_cs_powered a {
background:yellow !important;
}
#mal_cs_powered img {
}
#mal_cs_powered #search {
background:teal !important;
}
#searchListButton {
background:violet !important;
}
.header_cw {
background:green;
}
.header_completed {
background:white;
}
.header_onhold {
background:crimson;
}
.header_dropped {
background:purple;
}
.header_ptw {
background:turquoise;
}
#grand_totals {
background: gray;
}
.td1, .td2 {
background:blue;
}
.category_totals {
background:magenta;
color:purple;
}
.header_title a {
color:cyan !important;
}
a, a:visited {
color:white;
}
.animetitle, .animetitle:visited {
color:gold;
}
#list_surround {
background:red;
}
a:hover {
color:red;
}
.table_header {
background:orange !important;
color:teal !important;
}
a.thickbox {
color:Yellow;
}
#copyright {
background:aquamarine;
color:red;
}
.status_not_selected a, .status_not_selected a:visited {
background:violet;
color:Blue;
}
.status_selected a, .status_selected a:visited {
background: black;
color: red;
}
.status_selected a:hover, .status_selected a:hover, .status_not_selected a:hover {
background:teal;
color:yellow;
}
.status_selected, .status_not_selected {
background:cyan;
}
.status_selected + .status_not_selected, .status_not_selected + .status_selected, .status_not_selected + .status_not_selected {
background:blue;
}
.status_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_selected, .status_not_selected + .status_not_selected + .status_not_selected {
background:purple;
}
.status_selected + .status_not_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
background:green;
}
.status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
background:magenta;
}
.status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
background:tan;
}